.h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: left;
}

.general_info{
    width: 15%;
    border-radius: 10px;
}
.general_attribute{
    color: #757D8A;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.quantity{
    color: #404D61;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 700;
}

#printer_number{
    background: #d2d0d0;
}

#paper_number{
    background: #E3C7EF;
}

#print_session_number{
    background: #F8F8F8;
}

#queue{
    background: #9BC6E9;
}

#monitor{
    height: 63%;
    width: 92%;
    margin-left: 3.7%;
    margin-right: 3.5%;
    margin-bottom: 4%;
    border: 1px solid #757D8A;
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25); 
}

#search_tool{
    height: 8.3%;
}
#add_printer{
    border: 2.5px solid #1E5DFF;
    background: #FFF;
    color: #1E5DFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

#add_printer:hover{
    transform: scale(1.05);
}
thead{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: var(--gray-700, #464F60);
}
tr{
    font-size: 15px;
}
.printer_list_data{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.enable{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: var(--green-500, #14804A);
    border-radius: 15px;
    background: var(--green-0, #E1FCEF);
}

.disable{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: var(--red-500, #D12953);
    border-radius: 10px;
    background: var(--red-0, #FAF0F3);
}

 .delPrinterBtn{
    width: 17px;
    height: 17px;
    cursor: pointer;
}
.infoPrinterBtn{
    width: 19px;
    height: 19px;
    cursor: pointer;
}

.toggle_status:checked{
    background-color: rgba(118, 238, 89, 1);
    border-color: rgba(118, 238, 89, 1);
}

#successToast{
    border-left-color: rgba(0, 204, 153, 1);
    border-left-width: 3.8px;
    border-radius: 5px;
    background: #E3F7F2;
}
#failToast{
    border-left-color: #EB5757;
    border-left-width: 3.8px;
    border-radius: 5px;
    background: #FAECEC;
}
.tick{
    background-color: rgba(0, 204, 153, 1);
}
.cross{
    background-color: #EB5757;
}
.Montserrat{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.Montserrat-500{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.theme-color{
    color: #4834D4;
}
.btn-check + label{
    color: #757D8A;
    cursor: pointer;
}

.btn-check:checked + label{
    color: black;
}